# Minimal dependencies actually required by this project
mediapipe==0.10.21
opencv-python==4.12.0.88
numpy==2.1.3
PyAutoGUI==0.9.54
# Optional (pulled automatically by PyAutoGUI usually, but can pin if needed)
pillow
